<!DOCTYPE html>
<html>

<head>
  <title>GOOGLE API Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Note: Try to remove the following lines to see the effect of CSS positioning */
    .affix {
      top: 0;
      width: 100%;
    }

    .affix + .container-fluid {
      padding-top: 70px;
    }

    .modal-header, h4, .close {
      background-color: #6699ff;
      color:white !important;
      text-align: center;
      font-size: 30px;
    }

    .modal-footer {
      background-color: #f9f9f9;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="container-fluid" style="background-color:#80bfff;color:#fff;height:150px;">
      <h1>GOOGLE API TEST</h1>
      <h3>Test to see the possibilities of integration with Google applications</h3>
    </div>
    <h3>CALENDAR</h3> {% for calendar in calendars %}
    <div class="card-header text-xs-center">
      <h4>{{ calendar.summary }}</h4>
    </div>
    <div class="card-block text-muted">
      <dl class="card-text">
        <dt>UID: {{ calendar.id }}</dt>
        <a class="btn btn-info" name="myButton" onclick="window.location='/mEvents/list/{{ calendar.id }}';">Get event list</a>
        <!-- <a class="btn btn-success" name="myButton" onclick="window.location='/mEvents/create/{{ calendar.id }}';">Create Event</a> -->
        <button type="button" class="btn btn-success" id="myBtn" data-id="{{ calendar.summary }}">Create Event</button>
        <a class="btn btn-warning" name="myButton" onclick="window.location='/mEvents/update/{{ calendar.id }}';">Update Event</a>
        <a class="btn btn-danger" name="myButton" onclick="window.location='/mEvents/delete/{{ calendar.id }}';">Delete Event</a>
      </dl>
    </div>
    {% endfor %}
  </div>

  <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="padding:35px 50px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4><span class="glyphicon glyphicons-calendar"></span>Create Event in
            <input type="text" name="calendarID" va</h4>
          </div>
          <div class="modal-body" style="padding:40px 50px;">
            <form role="form">
              <div class="form-group">
                <label for="title"><span class="glyphicon glyphicons-pencil"></span>  Event Title</label>
                <input type="text" class="form-control" id="title" placeholder=" Event without title">
              </div>
              <div class="form-group">
                <label for="description"><span class="glyphicon glyphicons-text-underline"></span> Description</label>
                <input type="text" class="form-control" id="description" placeholder=" Enter text description">
              </div>
                <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicons-floppy-save"></span> Save</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          </div>
        </div>

<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#calendarID").val($(this).data('id'));
        $("#myModal").modal();
    });
});
</script>
</body>

</html>
