<!DOCTYPE html>
<html>
    <body>
        <table>
            <tr>
                <td>From:</td>
                <td>{{ headers.FROM }}</td>
            </tr>
            <tr>
                <td>To:</td>
                <td>{{ headers.TO }}</td>
            </tr>
            <tr>
                <td>CC:</td>
                <td>{{ headers.CC }}</td>
            </tr
            <tr>
                <td>Date:</td>
                <td>{{ headers.Date }}</td>
            </tr>
            <tr>
                <td>Subject: </td>
                <td>{{ headers.SUBJECT }}</td>
            </tr>
        </table>
        <p></p>
            {{ raw_data|safe }}
            {% if not raw_data %}
                <p>{{ txt_data|safe }}<p>
            {% endif%}
    </body>
</html>
